# Core
pandas>=2.0
numpy>=1.24

# Data sources (ECB SDW + Eurostat REST API)
requests>=2.31           # HTTP calls
sdmx1>=2.13              # SDMX парсер (ECB и Eurostat и двете го ползват)

# Misc
PyYAML>=6.0

# Dev / test
pytest>=7.4
